body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/28/09/54/fireworks-1285269_1280.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #7caefe; /* Azul suave y acogedor */
  border: 3mm solid gold; /* Bordes dorados de 3mm */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #333;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid gold;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.glass-box {
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2mm solid gold; /* Bordes dorados de 2mm */
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #001f3f; /* Azul rey */
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#digitalBoard {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 600px;
  height: 100px;
  margin: auto;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2mm solid gold; /* Bordes dorados */
  transition: all 0.3s ease-in-out;
}

#digitalBoard.winner {
  background-color: #FFD700; /* Color dorado */
  color: #000;
  font-size: 24px;
  position: relative; /* Asegura que los iconos se posicionen correctamente dentro del contenedor */
      overflow: hidden; /* Evita que los iconos se muestren fuera del contenedor */
  }

  #digitalBoard.winner::after {
      content: "🎉🎉🎁🎁";
      position: 8 mmm;
      font-size: 30px;
      top: 50%; /* Centra los iconos verticalmente en el contenedor */
      left: 50%; /* Centra los iconos horizontalmente en el contenedor */
      transform: translate(-50%, -50%); /* Ajusta la posición para que esté a 2 milímetros */
      animation: sparkle 1s infinite alternate;
}

@keyframes sparkle {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.2);
  }
}
